// FONTS
$roboto: "Roboto", sans-serif;

// BASE
$laptop: 1899px;
$tablet: 1279px;
$tabletPortrait: 1023px;
$mobile: 767px;

// COLORS
$black: #000;
$white: #fff;
$light-grey: #f9f9f9;
$dark-grey: #ebebeb;
$lamp: #fcd53f;

// SIZES
$headerSizes: 120px;
$gapBetweenCards: 25px;

// FILLETS
$borderRadius: 15px;
